@charset "utf-8";
a{
    color: #36C;
    text-decoration: none;
}
#head{
    width: 1000px;
    height: 60px;
    padding-top: 6px;
    margin: 0px auto; 
    /* background-color: red;*/
} 
.content{
    width: 1000px;
    margin: 10px auto 0;
    /* background-color: blue; */
}
.content .module_common{
    padding: 5px;
    border: 4px solid #D7DCE1;
    overflow: hidden;
    margin-bottom: 10px;
    clear: both;
}
.content .module_common .login_con{
    width: 974px;
    background: url(../img/login_con.gif) repeat-y;
    margin-top: 8px;
    margin-bottom: 8px;
    overflow: hidden;
}
.content .module_common .login_con .login_left{
    color: #646665;
    display: inline;
    width: 530px;
    float: left;
    margin: 6px 10px 0 6px;
}
.content .module_common .login_con .login_left h2{
    background-image: none;
    height: 24px;
    margin-bottom: 12px;
    border-bottom: 1px solid #D7DCE1;
    position: relative;
}
.content .module_common .login_con .login_left h2 .login{
    display: block;
    width: 133px;
    height: 21px;
    background: url(../img/title.gif) no-repeat left -300px;
}
.content .module_common .login_con .login_left .bg{
    color: #646665;
    background: url(../img/login_left.gif) no-repeat;
    display: inline;
    width: 390px;
    float: left;
    padding-left: 110px;
    margin: 25px 0 0 25px;
}
.content .module_common .login_con .login_left th{
    font-weight: normal;
    text-align: right;
    width: 80px;
    padding-right: 16px;
    padding-bottom: 16px;
}
.content .module_common .login_con .login_left td{
    text-align: left;
    padding-bottom: 16px;
}
.content .module_common .login_con .login_left td .text{
    border-color: #9CA5B4 #C2C8CF #C2C8CF #9CA5B4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #666;
    background: url(../img/text.gif) repeat-x;
    padding: 4px;
    border: 1px solid;
    width: 180px;
}
form .field_notice{
    color: #9C9C9C;
    margin-left: 5px;
}
.content .module_common .login_con .enter{
    background: url(../img/btn.gif) no-repeat right -96px;
    vertical-align: middle;
    display: inline;
    width: 102px;
    height: 43px;
    float: left;
    margin-top: 12px;
    margin-left: 15px;
    border: 0;
    cursor: pointer;
}
.content .module_common .login_con .login_right{
    line-height: 22px;
    color: #626A73;
    display: inline;
    width: 350px;
    float: right;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 50px;
}
.content .module_common .login_con .login_right h4{
    font-size: 14px;
    color: #434B58;
    line-height: 30px;
    margin-top: 2px;
    margin-bottom: 6px;
}
.content .module_common .login_con .login_right p{
    padding-left: 12px;
}
.content .module_common .login_con .login_right ol{
    width: 350px;
    margin-top: 20px;
}

.content .module_common .login_con .login_right li.ico01{
    background-position: 0px -800px;
}
.content .module_common .login_con .login_right li.ico02{
    background-position: 0px -850px;
}
.content .module_common .login_con .login_right li{
    line-height: 24px;
    background: url(../img/ico.gif) no-repeat 0px -850px;
    display: inline;
    width: 135px;
    height: 24px;
    float: left;
    padding: 0 0 0 30px;
    margin: 0 0 12px 10px;
    overflow: hidden;
}
.content .module_common .login_con .login_right .login_btn{
    background: url(../img/btn.gif) no-repeat -197px 0;
    display: inline;
    width: 102px;
    height: 43px;
    float: left;
    clear: both;
    margin-top: 12px;
    margin-left: 15px;
    border: 0;
    cursor: pointer;
}

#footer{
    line-height: 20px;
    color: #aaa;
    text-align: center;
    display: block;
    width: 1000px;
    clear: both;
    margin: 12px auto 0px auto;
    padding-bottom: 10px;
    border-top: 3px solid #E9ECEF;
    overflow: hidden;
    /* background-color: green; */
}