@charset "utf-8";

.detail-wrap{
    position: relative;
    background-color: #fff;
    width: 1160px;
    padding: 20px;
}

.detail-wrap .nav-wrap{
    margin-bottom: 30px;
    display: block;
}

.detail-wrap .nav-wrap .text{
    font-size: 12px;
    color: #aaa;
}

.detail-wrap .nav-wrap .text a{
    padding: 0 5px;
    color: #aaa;
}

.detail-wrap .detail-row{
    margin-bottom: 20px;
}

.detail-wrap .detail-row a.img{
    float: left;
}
.detail-wrap .detail-row .detail-col{
    position: relative;
    float: left;
    width: 520px;
    height: 400px;
    margin-left: 50px;
    font-family: "Microsoft YaHei";
}
.detail-wrap .detail-row .detail-col a.title .tmall{
    background: url(../img/tmall.png) 0 0 no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    margin-top: 7px;
}
.detail-wrap .detail-row .detail-col a.title span.title{
    float: left;
    width: 500px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    display: block;
    font-size: 18px;
    color: #424242;
    margin-left: 4px;
}
.detail-wrap .detail-row .detail-col .desc{
    width: 100%;
    line-height: 20px;
    margin-top: 10px;
    color: #5C5C5C;
    font-size: 14px;
    height: 60px;
    overflow: hidden;
}
.detail-wrap .detail-row .detail-col .coupon-wrap{
    height: 30px;
    line-height: 30px;
    margin: 40px auto 20px;
    padding: 20px;
    position: relative;
    background: url(../img/show-price-bg.jpg) no-repeat 0 0;
}
.detail-wrap .detail-row .detail-col .coupon-wrap .now-price{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #4e4e4e;
    margin-right: 20px;
}
.detail-wrap .detail-row .detail-col .coupon-wrap .now-price b{
    color: #ed145b;
    font-weight: normal;
    font-family: Arial;
}
.detail-wrap .detail-row .detail-col .coupon-wrap .now-price b i{
    margin-left: 5px;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
}
.detail-wrap .detail-row .detail-col .coupon-wrap .org-price{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #acacac;
}
.detail-wrap .detail-row .detail-col .coupon-wrap .org-price i{
    margin-left: 2px;
    font-style: normal;
}
.detail-wrap .detail-row .detail-col .text-wrap{
    height: 16px;
    line-height: 16px;
    padding: 10px 0;
    border-top: 1px dotted #C9C9C9;
    border-bottom: 1px dotted #C9C9C9;
    font-size: 12px;
    color: #8E8787;
}
.detail-wrap .detail-row .detail-col .text-wrap .text-wrap-span{
    border-right: 1px solid #E5DFDA;
    padding: 0 20px;
    margin-right: 20px;
}
.detail-wrap .detail-row .detail-col .text-wrap span i{
    margin: 0 5px;
    color: #ed145b;
    font-family: Arial;
}
.detail-wrap .detail-row .detail-col .ehy-normal{
    height: 52px;
    position: relative;
    display: block;
    width: 150px;
    text-align: center;
    line-height: 52px;
    background: #ed145b;
    margin-top: 50px;
    padding-left: 60px;
    color: #ed145b;
}
.detail-wrap .detail-row .detail-col .buy-coupon{
    position: absolute;
    width: 60px;
    height: 52px;
    background: url(../img/cms_pc_img.png) -30px -129px no-repeat;
    left: 0;
    top: 0;
}
.detail-wrap .detail-row .detail-col .buy-coupon span{
    height: 18px;
    line-height: 25px;
    margin: 2px auto;
    display: block;
}
.detail-wrap .detail-row .detail-col .buy-coupon span b{
    font-weight: normal;
    font-size: 20px;
    font-family: "Microsoft Yahei";
}
.detail-wrap .detail-row .detail-col .buy-coupon span b i{
    font-size: 12px;
}
.detail-wrap .detail-row .detail-col .ehy-normal a{
    color: #fff;
    display: block;
}
.detail-wrap .detail-row .detail-col .goods-tit-type{
    position: absolute;
    right: 0;
    bottom: 38px;
    display: block;
    width: 150px;
    height: 16px;
}
.goods-type{
    position: absolute;
    right: 0;
    top: 0; 
}
.goods-type i.tmall{
    background-position-x: -78px;
}
.goods-type i{
    width: 16px;
    height: 16px;
    margin-left: 5px;
    float: left;
    background: url(../img/cms_pc_img.png) 0 0 no-repeat;
}
.detail-row .detail-col .text2{
    position: relative;
}
.detail-row .detail-col .text2 span{
    display: inline-block;
    vertical-align: middle;
}
.detail-row .detail-col .text2 .bdshare{
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    font-size: 12px;
    color: #b1b1b1;
    position: absolute;
    right: 70px;
}

.bdshare-button-style0-16 a{
    color: #333;
    float: left;
    font-size: 12px;
    padding-left: 17px;
    line-height: 16px;
    height: 16px;
    background-image: url(../img/icons_0_16.png);
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 6px 6px 6px 0;
}
.bdshare-button-style0-16 .bds_more{
    background-position: 0 0;
}
.bdshare-button-style0-16 .bds_qzone{
    background-position: 0 -52px;
}
.bdshare-button-style0-16 .bds_tsina{
    background-position: 0 -104px;
}
.bdshare-button-style0-16 .bds_weixin{
    background-position: 0 -1612px;
}


