@charset "utf-8";

.cart-tbody{
    padding-left: 11px;
    /* font-weight: 700; */
    font-family: "Microsoft YaHei",SimSun,verdana;
}
body{
    font: 12px/150% tahoma,arial,Microsoft YaHei,Hiragino Sans GB,"\u5b8b\u4f53",sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #666;
}
label{
    display: none;
}

a {
    color: #666;
    text-decoration: none;
}
.w{
    width: 990px;
    margin: 0 auto;
}
#chunjie{
    margin-bottom: 10px;
}
.cart-filter-bar{
    margin-top: 10px;
    position: relative;
}
.cart-filter-bar .switch-cart{
    float: left;
    position: relative;
    height: 26px;
    overflow: hidden;
}
.cart-filter-bar .switch-cart .switch-cart-item a{
    color: #E2231A;
}
.cart-filter-bar .switch-cart .switch-cart-item li .number{
    font-family: verdana;
    font-size: 14px;
}
.cart-filter-bar .clr{
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
}
.cart-filter-bar .w-line{
    position: relative;
    height: 1px;
    background: #e0e0e0;
}
.cart-filter-bar .w-line .floater{
    position: absolute;
    height: 2px;
    background: #E2231A;
    overflow: hidden;
}
.cart-warp{
    background: #fff;
    margin-bottom: 20px;
}
.cart-main .cart-thead{
    display: block;
    height: 32px;
    line-height: 32px;
    margin: 0 0 10px;
    padding: 5px 0;
    background: #f3f3f3;
    border: 1px solid #e9e9e9;
    border-top: 0;
    position: relative;
}
.cart-main .cart-thead .t-checkbox{
    height: 18px;
    line-height: 18px;
    padding-top: 7px;
    width: 1220px;
    padding-left: 11px;
}
.cart-checkbox{
    position: relative;
    z-index: 3;
    float: left;
    margin-right: 5px; 
}
.cart-main .jdcheckbox{
    position: relative;
    z-index: 5;
    vertical-align: middle;
    _vertical-align: -1px;
    margin: 0 3px 0 
}

.cart-main  .t-goods{
    width: 208px;
    margin-left: 100px;
}
.cart-main  .t-props{
    width: 140px;
    height: 32px;
    padding: 0 10px 0 20px;
}
.cart-main  .t-price{
    width: 120px;
    padding-right: 40px;
    text-align: right;
}
.cart-main  .t-quentity{
    width: 80px;
    text-align: center;
}
.cart-main  .t-sum{
    width: 100px;
    padding-right: 40px;
    text-align: right;
}
.cart-main .t-action{
    width: 75px;
}
.cart-item-list{
    margin-bottom: 20px;
}
.cart-tbody{
    font-family: "Microsoft YaHei",SimSun,verdana;
}
.cart-tbody{
    height: 30px;
    line-height: 30px;
    padding-left: 11px;
    font-weight: 700;
}
.cart-checkbox{
    position: relative;
    z-index: 3;
    float: left;
    margin-right: 5px;
}
.cart-tbody .shop .shop-txt{
    /* float: left; */
    width: 42%;
}
.cart-tbody .shop .shop-name{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 260px;
    overflow: hidden;
    vertical-align: middle;
    height: 30px;
    line-height: 30px;
}

.cart-tbody .shop .btn-im{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    background: url(../img/cart-icons-201902.png) -84px -49px;
    width: 16px;
    height: 16px;
    line-height: 100px;
    overflow: hidden;
    margin: 0 0 0 10px;
}
.item-list{
    border-style: solid;
    border-width: 2px 1px 1px;
    _border-width: 1px;
    border-color: #aaa #f1f1f1 #f1f1f1;
    background: #fff;
}
.item-item{
    position: relative;
    padding: 0 0 1px 40px;
    border-top: 1px solid #c5c5c5;
    line-height: 20px;
    _height: 116px;
    background: #fff; 
}
.cart-tbody .item-item .p-checkbox{
    position: absolute;
    z-index: 3;
    left: 10px;
    top: 0;
    width: 30px;
    min-height: 10px;
}
.cart-checkbox{
    position: relative;
    z-index: 3;
    float: left;
    margin-right: 5px;
}
.cart-main .jdcheckbox{
    position: relative;
    z-index: 5;
    vertical-align: middle;
    _vertical-align: -1px;
    margin: 0 3px 0 0;
    padding: 0;
}
.cart-main .cart-tbody .item-item .p-goods{
    width: 300px;
}
.cart-tbody .item-item .cell{
    float: left;
    padding: 15px 0 10px;
}
.cart-tbody .item-item .goods-item .p-img{
    float: left;
    width: 80px;
    height: 80px;
    border: 1px solid #eee;
    margin-right: 10px;
    background: #fff;
    padding: 0;
    text-align: center;
    overflow: hidden;
}
.cart-tbody .item-item .goods-item .p-name{
    height: 40px;
    line-height: 20px;
    overflow: hidden;
}
.cart-tbody .item-item .goods-item .p-name a{
    color: #333;
}
.cart-tbody .item-item .goods-item .p-extend{
    margin-top: 2px;
}
.cart-tbody .item-item .p-props,.cart-main-new .cart-tbody .item-item .p-props-new{
    /* width: 130px; */
    width: 600px;
    padding-right: 0;
}
.cart-main-new .cart-tbody .item-item .p-props-new .props-txt{
    width: 130px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: default;
}
.cart-tbody .item-item .p-price-new{
    width: 150px;
}
.cart-tbody .item-item .p-price{
    padding-right: 40px;
    font-family: verdana;
    text-align: right;
}
.cart-tbody .item-item .p-price strong{
    display: block;
    color: #333;
    font-weight: 400;
}
.cart-tbody .item-item .p-quantity{
    width: 80px;
}
.cart-tbody .item-item .p-quantity .quantity-form{
    position: relative;
    overflow: hidden;
    height: 22px;
    width: 80px;
}
.cart-tbody .item-item .p-quantity .decrement{
    border: 1px solid #cacbcb;
    border-right: 0;
    height: 18px;
    line-height: 18px;
    padding: 1px 0;
    width: 16px;
    text-align: center;
    color: #666;
    margin: 0;
    background: #fff;
}
.cart-tbody .item-item .p-quantity .itxt{
    position: absolute;
    left: 17px;
    top: 0;
    border: 1px solid #cacbcb;
    width: 42px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    padding: 1px;
    margin: 0;
    font-size: 12px;
    font-family: verdana;
    color: #333;
    -webkit-appearance: none;
}
.cart-tbody .item-item .p-quantity .increment{
    border: 1px solid #cacbcb;
    border-left: 0;
    color: #666; 
    height: 18px;
    line-height: 18px;
    padding: 1px 0;
    width: 16px;
    text-align: center;
    background: #fff;
}
.cart-tbody .item-item .p-sum{
    width: 100px;
    padding-right: 40px;
    text-align: right;
    font-family: verdana;
}
.cart-tbody .item-item .p-sum strong{
    color: #333;
    font-weight: 700;
    display: block;
}
.cart-tbody .item-item .p-ops{
    width: 75px;
    position: relative;
}
.cart-tbody .item-item .p-ops a{
    color: #666;
    display: block;
}
.clear{
    clear: both;
}

/* 底部的结算栏样式 */
.fixed-bottom {
    position: fixed;
    bottom: 0px;
    z-index: 999; 
}
.cart-toolbar{
    width: 100%;
    background: skyblue;
    border: 1px solid #f0f0f0;
}
.toolbar-wrap{
    position: relative;
    width: 988px;
    margin: 0 auto;
}
.toolbar-wrap .selected-item-list{
    position: absolute;
    z-index: 10;
    top: -122px;
    left: 0;
    height: 122px;
}
.hide{
    display: none;
}
.toolbar-wrap .options-box{
    position: relative;
    height: 50px;
}
.toolbar-wrap .select-all{
    float: left;
    height: 18px;
    line-height: 18px;
    padding: 16px 0 16px 9px;
    white-space: nowrap; 
}
.cart-checkbox{
    position: relative;
    z-index: 3;
    float: left;
    margin-right: 5px;
}
.toolbar-wrap .operation{
    float: left;
    height: 50px;
    width: 310px;
    line-height: 50px;
}
.toolbar-wrap .operation a{
    float: left;
    margin-left: 5px;
    color: #666;
}
.toolbar-wrap .operation .cleaner-opt{
    font-weight: 700;
    position: relative;
}
.clr{
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
}
.toolbar-wrap .toolbar-right,.toolbar-wrap .toolbar-right-new{
    position: absolute;
    height: 52px;
    right: 0;
    top: -1px;
    width: 720px;
}
.toolbar-wrap .toolbar-right-new .normal .comm-right{
    float: right;
    width: 650px;
}

.toolbar-wrap .btn-area a.submit-btn{
    display: block;
    position: relative;
    width: 94px;
    height: 52px;
    line-height: 52px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-family: "Microsoft YaHei";
    background: #e54346;
    overflow: hidden;
}

.toolbar-wrap .btn-area a.submit-btn b{
    display: block;
    position: absolute;
    width: 94px;
    height: 52px;
    top: 0;
    left: 0;
    overflow: hidden;
    background: url(../img/cart-submit-btn-2018.png) 0 0 no-repeat;
}